<p>clients works!</p>
Satus API Client: {{statusClientApi}}
<br />
Satus Sante BFF: {{statusSanteBff}}
<hr/>

<div class="container my-3" *ngIf="clients">
    <h3>Clients:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients">
                <td>{{c.id}}</td>
                <td>{{c.nom}}</td>
            </tr>

        </tbody>
    </table>
</div>