<app-nav-ctr (contratEeventEmitter)="onContratActionEvent($event)"></app-nav-ctr>

<div class="container">
  <ng-container *ngIf="(contrat$|async) as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading .....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">
        {{result.errorMessage}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <thead>
            <tr>
                <th>N° Contrat</th>
                <th>N° Produit</th>
                <th>N° Client</th>
                <th>Date Emission</th>
                <th>Type</th>
                <th>Emit</th>
                <th>En vigeur</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of result.data">
              <td>{{c.numero}}</td>
              <td>{{c.numeroProduit}}</td>
              <td>{{c.numeroClient}}</td>
              <td>{{c.dateEmission}}</td>
              <td>{{c.type}}</td>
              <td>
                <button (click)="onSelect(c)" [ngClass]="c.emit?'btn-success':'btn-danger'" class="btn btn-sm">
                  <span *ngIf="c.emit">Emit</span>
                  <span *ngIf="!c.emit">Non emit</span>
                </button>
              </td>
              <td>{{c.envigeur}}</td>
              <td>
                <button class="btn btn-danger" (click)="onDelete(c)">
                  <span class="fa fa-trash-o"></span>
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="onEdit(c)">
                  <span class="fa fa-edit"></span>
                </button>
              </td>    
          </tr>

      </tbody>

      </table>
    </ng-container>
  </ng-container>

</div>
